@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {font-family: 'Open Sans', sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255, 0);
 /* Fallback color */
 background-color: rgb(255, 255, 255, 0);
 /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(255, 255, 255, 0);
  margin: auto;
  padding: 20px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #050505;
  float: right;
  font-size: 4em;
  font-weight: bold;
  border: 1px solid black;

}

.close:hover,
.close:focus {
  color: rgb(197, 196, 196);
  text-decoration: none;
  cursor: pointer;
}

/* ************************* BOARD ************************ */

.movable {
  width: 5vw;
  height: 5vw;
  font-size: 0;
  border: none;
  background-color: #6b5858;
  
}

.not_movable {
  width: 5vw;
  height: 5vw;
  font-size: 0; 
}

.red_checker {
  background: rgb(151,35,63);
background: radial-gradient(circle, rgba(151,35,63,1) 65%, rgba(246,246,246,1) 67%, rgba(107,88,88,1) 75%);
}

.blue_checker {
  background: rgb(95,95,238);
background: radial-gradient(circle, rgba(95,95,238,1) 65%, rgba(246,246,246,1) 67%, rgba(107,88,88,1) 75%);
}

.red_king_checker {
  background: rgb(78, 11, 27);
background: radial-gradient(circle, rgb(78, 11, 27) 65%, rgba(246,246,246,1) 67%, rgba(107,88,88,1) 75%);
}

.blue_king_checker {
  background:  rgb(12, 12, 85) ;
background: radial-gradient(circle, rgb(12, 12, 85) 65%, rgba(246,246,246,1) 67%, rgba(107,88,88,1) 75%);
}

.red_checker:hover, .blue_checker:hover{
  opacity: 0.9;
}

.red_chosen {
  opacity: 0.3;
}

.neighbor_chosens {
  background-color: hsl(0, 11%, 51%);

}

.reset_board{
  height: fit-content;
  text-align: center;
  font-size: 1em;
  border-radius: 1.9em;
  border: none;
  padding: 1.4em 3.5em;
  background: #bb8a5a;
  color: rgb(240, 240, 240);
  margin-right:2em
}

.reset_board:hover{
  background-color: rgb(97, 96, 96);
}

.modal_container{
  display:flex;
}

.board{
  margin: 0 auto;
}

.name{
  font-size: 7em;
  text-align: center;
  margin-top: 1em;
}

#myBtn{
  display: flex;
  margin: 0 auto;
  font-size: 1em;
  border-radius: 1.9em;
  border: none;
  padding: 1.4em 3.5em;
  background: #bb8a5a;
  color: rgb(240, 240, 240);
}

#myBtn:hover{
  opacity: 0.8;
}

.quote{
  font-size: 1.3em;
  text-align: center;
  margin: 2em;
}